@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Catamaran:wght@200&family=Caveat&family=Cookie&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Dancing+Script&family=EB+Garamond&family=Edu+NSW+ACT+Foundation&family=IBM+Plex+Serif:wght@100&family=Marck+Script&family=Merriweather:wght@300;400;700&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins&family=Sacramento&display=swap');

body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 228px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-left: 20px ;
}
li > a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
/* banner-section */
.banner-title{
    font-size: 50px;
    font-weight: 700;
}
.banner-container{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.banner-description{
    font-size: 12px;
    color: var(--Dark-03, #727272);
}
.primary-btn{
    margin-top: 10px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: aliceblue;
    padding: 18px 20px;
    font-weight: 600;
}
.primary-btn-1{
    margin-top: 10px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: aliceblue;
    padding: 18px 20px;
    font-weight: 600;
}
.banner-img{
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
    padding-bottom:10px;
}
/* Quick */
.Quick-banner{
    align-items: center;
    justify-content: space-around;
    margin: 0 220px;
}
.Quick-title{
    width: 500px;
    font-weight: 500;
    font-size: 45px;
    color: var(--Dark-03, #727272);
}
.span-1{
    color: var(--Dark-01, #131313);
}
.span-2{
    color: #FF900E;
}
.Quick-description{
    color: var(--Dark-03, #727272);
    font-size: 13px;
    font-weight: 400;
    width: 500px;
    margin-top: 5px;
}

.Quick-img{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 15px;

}
.img-1{
    width: 200px;
    height: 210px;
}
.Quick-banner{
    display: flex;
}
.Some-Facts-contant{
    margin-left: 250px;
    margin-top: 70px;
}
.button-contant{
    padding: 35px;
    text-align: center;
    width: 150px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    
}
.button-img{
    height: 30px;
    width: 30px;
    padding: 0;
}
.button-title{
    color: var(--Dark-02, #424242);
    font-size: 25px;
    font-weight: 600;
    margin: 0 10px;
    
}
.button-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    padding: 0 260px;
}
.button-description{
    font-size: 10px;
    font-weight: 600;
    margin: 2px 0;
   
}

@media screen and (max-width:576px) {
    header{
        padding: 10px 20px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    nav > ul{
        display:flex;
        padding: 0 20px;
        
    }
    .Quick-banner{
        display: flex;
        flex-direction: column;
        margin: 0 80px;
    }
    .Quick-title{
        font-size: 20px;
        text-align: center;
    }
    .Quick-description , .nav-title{
        width: 320px;
        margin:0 auto ;
    }
    .Quick-btn{
        margin-right: 90px;
    }
    .primary-btn{
        margin-left: 190px;
    }
    .Some-Facts-contant{
        margin-left: 40px;
    }
    .button-container{
       
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin: 20px;
        padding: 0%;
    }
    .button-contant{
        width: 80%;
    }
    body{
        margin: 0;
    }
}