@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Catamaran:wght@200&family=Caveat&family=Cookie&family=Cormorant+Garamond:wght@300&family=Crimson+Text&family=Dancing+Script&family=EB+Garamond&family=Edu+NSW+ACT+Foundation&family=IBM+Plex+Serif:wght@100&family=Marck+Script&family=Merriweather:wght@300;400;700&family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins&family=Sacramento&display=swap');

body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 228px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-left: 20px ;
}
li > a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
/* banner-section */
.banner-title{
    font-size: 50px;
    font-weight: 700;
}
.banner-container{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.banner-description{
    font-size: 12px;
    color: var(--Dark-03, #727272);
}
.primary-btn{
    margin-top: 10px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: aliceblue;
    padding: 18px 20px;
    font-weight: 600;
}
.banner-img{
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
    
}